body{
  margin:0;
  font-family:Arial, sans-serif;
  background:url("https://images.unsplash.com/photo-1497366754035-f200968a6e72");
  background-size:cover;
  background-position:center;
  min-height:100vh;
}

.app{
  background:rgba(0,0,0,0.6);
  min-height:100vh;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
  color:white;
}

.logout-btn{
  background:#ff4da6;
}

.dashboard{
  padding:20px;
}

h1{
  color:white;
  text-align:center;
}

.stats-container{
  display:flex;
  gap:20px;
  justify-content:center;
  margin:20px 0;
  flex-wrap:wrap;
}

.stat-box{
  background:white;
  padding:20px;
  border-radius:15px;
  width:180px;
  text-align:center;
  box-shadow:0 4px 15px rgba(0,0,0,0.3);
}

.form-container{
  display:flex;
  justify-content:center;
  gap:15px;
  flex-wrap:wrap;
  margin-bottom:20px;
}

input{
  padding:12px;
  border:none;
  border-radius:8px;
  width:250px;
}

.search-box{
  display:block;
  margin:20px auto;
}

button{
  background:#ff4da6;
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
  margin:5px;
}

button:hover{
  opacity:0.8;
}

.cards-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.card{
  background:white;
  width:250px;
  padding:20px;
  margin:15px;
  border-radius:15px;
  box-shadow:0 4px 15px rgba(0,0,0,0.3);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

.new{
  color:blue;
  font-weight:bold;
}

.contacted{
  color:orange;
  font-weight:bold;
}

.converted{
  color:green;
  font-weight:bold;
}

footer{
  text-align:center;
  color:white;
  padding:20px;
}